.allactivities-buttons{
    position: absolute;
    min-width: 0px;
    max-width: 64px;
    width: 10px;
    animation: showAnim .3s;
    height: 100%;
    top:0;
    border-radius: 0;
    background: #0004;
    /* backdrop-filter: blur(5px); */
    border: none;
    transition: width .4s, background .5s, border-radius .3s;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.allactivities-buttons .vz-icon{
    color: transparent;
    transition: color .3s;
}

.allactivities-buttons:hover .vz-icon{
    color: #fff;
}

:root .allactivities-buttons:active{
    background: #000000da;
}

.allactivities-buttons:hover{
    background: #000000da;
    width: 40px;
}

.activity-11LB_k{
    position: relative;
}

.allactivities-left {
    left: 0;
}

.allactivities-left:hover{
    border-radius: 0 4px 4px 0;
}

.allactivities-right {
    right: 0;
}

.allactivities-right:hover{
    border-radius: 4px 0 0 4px;
}

.allactivities-margin {
    margin-top: 12px;
}

.allactivities-margin2 {
    margin-top: 22px;
}

.allactivities-collapsibleheader {
    cursor: pointer;
    align-items: center;
}

.allactivities-collapsibleheader:not(:nth-child(1)) {
    margin-top: 20px;
}

.allactivities-movetoright{
    margin-left: auto;
}


@keyframes showAnim {
    0%{
        width: 0;
    } 100%{
        width: 10px;
    }
}